@*
   Logout
*@
@{
ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h1 class="display-4">Atsijungta</h1>
    <p class="lead">Jūs sėkmingai atsijungėte.</p>
    <p class="lead">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Grįžti į pagrindinį puslapį</a>
    </p>
